services:
  db:
    image: postgres:17
    ports:
      - 5433:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: postgres
      POSTGRES_DB: todo_app
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
